<script>
function Go() {
   var frm=document.myfrm;
   frm.submit();
}
</script>

<form name="myfrm" method="post" action="https://wl.walletone.com/checkout/checkout/Index">
  <input type="hidden" 		name='WMI_MERCHANT_ID' 	 	value="191554294939">
  <input type="hidden"		name="WMI_PAYMENT_AMOUNT" 	value="1.00"/>
  <input type="hidden"		name='WMI_PAYMENT_NO'	 	value=<%= params[:orderId] %>>
  <input type="hidden"		name="WMI_CURRENCY_ID"    	value="643"/>
  <input type="hidden"		name="WMI_DESCRIPTION"    	value="Оплата демонстрационного заказа #<%= params[:orderId] %>>"/>
  <input type="hidden"		name="WMI_SUCCESS_URL"    	value="http://31.31.203.234/good"/>
  <input type="hidden"		name="WMI_FAIL_URL"       	value="http://31.31.203.234/bad"/>
  <input type="hidden"		name='WMI_CUSTOMER_PHONE'	 	value=<%= params[:clientPhone] %>>
  <input type="hidden"		name='WMI_CUSTOMER_FIRSTNAME'	 	value=<%= params[:clientFIO] %>>
  <input type="hidden"		name='WMI_CUSTOMER_EMAIL'	 	value=<%= params[:clientEmail] %>>
  <input type="hidden"		name='WMI_AUTO_LOCATION'	 	value="1">
</form>

<body onload="Go();">
 <div id="block"></div>
</body>